

body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #ff512f, #dd2476);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #fff;
}

/* Add Book Container */
.add-book-container {
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  color: #333;
}

h2 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: #2ba5c0;
}


label {
  font-size: 1rem;
  font-weight: 600;
}

input[type='text'],
input[type='number'],
textarea {
  padding: 0.9rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  transition: 0.3s ease;
}

/* Submit Button */
button {
  padding: 0.9rem;
  font-size: 1rem;
  background: linear-gradient(to right, #02c4ff, #00f435);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background: linear-gradient(to right,  #02c4ff, #00f435);
}

.text-red-500 {
  color: #e74c3c;
  font-size: 0.9rem;
  text-align: center;
}

/* Responsive Design */
@media (max-width: 480px) {
  .add-book-container {
    padding: 1.5rem;
  }
}
